#version-placeholder {
}
#version-placeholder ul {
	list-style: none;
	margin: 0;
	padding-bottom: 0.5em;
	display: inline-block;
}
#version-placeholder ul li {
	display: inline;
	padding-left: 1em;
}
