.badge {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 0.15em 0.6em;
    border-radius: 1em;
    margin: 0.5em;
    font-size: x-small;
    cursor: default;
}

.resultsList {
    margin: 1em 0;
}

.search-box {
    width: 90%;
}

.active-version {
    font-weight: bold;
    background-color: lightgray;
    border-radius: 1em;
}

main {
    display: flex;
}

main > div {
    width: 35%;
    padding: 1em;
}

main p {
    margin: 0.7em;
}

.deprecated a {
    text-decoration: line-through;
}

